# Vim 
plugin
lazy-lock.json

# Node
node_modules/
package-lock.json
package.json

# Ranger
ranger/.config/ranger/plugins/

# Files from knubie/vim-kitty-navigator 
neighboring_window.py
pass_keys.py 
